win32gui
requests
socket
pyperclip
platform
psutil
urllib
ctypes
pyautogui
youtube_dl
pafy
python-vlc
sys
base64
logging
pynput
discord
pycaw
scipy
sounddevice
numpy
cv2
datetime
win32com.client
win32con
selenium